// Footer 
.box.copyright {
    margin-top: $section-vertical-space;
    justify-content: space-between;
}

.list-copyright {
    li {
        display: inline-block;
        margin: 0 $gutter;
    }
}